@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
:root {
    --dark: #010101;
    --orange: #fe6902;
    --light-dark: #262626;
    --white: #e5e5e5;
}
.dashboard {
    width: 100%;
    min-height: 100vh;
    background: var(--white);
    display: grid;
    color: white;
    grid-template-rows: 10vh 90vh;
    position: relative;
}

header,
main {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    /* background: #a67598; */
    background-color: var(--white);
    border-bottom: 1px solid var(--orange);
    display: fixed;
    top: 0;
}
header .avatar {
    color: var(--dark);
    font-size: 2rem;
    font-weight: bold;
}
header .bx-menu {
    display: none;
}
header .bx-menu,
.bx-x {
    color: var(--orange);
    font-size: 2.5rem;
    position: sticky;
    top: 0;
}
.bx-x {
    position: absolute;
    top: 2.5%;
    right: 5%;
    z-index: 100 !important;
}
.left_header {
    display: flex;
    /* gap: 20%;
    width: 50%; */
}
nav {
    display: flex;
    padding: 0.4em;
    gap: 1em;
    /* border: 1px solid; */
    justify-content: flex-end;
}
.left-nav {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--orange);
}
.left-nav h2 {
    font-size: 2rem;
    margin: 0 !important;
}
.left-nav a {
    font-size: 1.5rem;
}
nav > a {
    background: var(--orange);
    color: var(--white);
    border-radius: 0.2em;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

nav > a:hover {
    background: var(--light-dark);
    transition: all ease 2s;
}

.main-container {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 40% 60%;
    height: 90vh;
}

/* .user-groups,
.user-task-display {
    border: 1px solid;
} */
.left-main {
    /* display: grid; */
    width: 100%;
    /* border: 1px solid; */
    height: 100%;
}

/* .task-assigning {
    border: 1px solid;
} */

.user-groups {
    display: grid;
    /* justify-content: center; */
    /* place-items: center; */
    width: 100%;
    height: 50vh;
}

.groups-holder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    background: var(--light-dark);
    margin-top: 0.8em;
    /* position: relative; */
    overflow-y: scroll;
}

.group-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--orange);
    /* border: 1px solid; */
}
.group-header > div {
    color: var(--dark);
    font-size: 2rem;
    background: var(--white) !important;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.group-header > div:hover {
    background: var(--dark) !important;
    color: var(--white);
    transition: all ease-in-out 0.5s;
}
.groups-items {
    width: 100%;
    height: 100%;
    padding: 3%;
    overflow-y: scroll;
}

.groups-items::-webkit-scrollbar,
.groups-holder::-webkit-scrollbar {
    display: none;
}

.group-item {
    background: var(--white);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    color: var(--dark);
    padding: 0.5em;
    height: 60px !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.user-task-display {
    width: 100%;
    display: grid;
    place-items: center;
}

.task-display {
    /* border: 1px solid; */
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
}

.main-task-displays {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    margin-top: 1em;
}

.task-item {
    border-radius: 0.3em;
    box-shadow: 1px 2px 5px 1px var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white);
    background: var(--light-dark);
}

.task-item > h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--orange);
    text-indent: 10%;
}

.task-item > p {
    text-indent: 10%;
    font-size: 1.4rem;
}

.task-list {
    display: grid;
    place-items: center;
}

.task-holder {
    width: 90%;
    height: 90%;
    background: var(--light-dark);
    border-radius: 0.4em;
    /* position: relative; */
    /* z-index: 0 !important; */
}
.task-holder thead tr {
    border: 1px solid var(--orange);
    margin-top: 1rem;
}
.task-holder thead {
    color: var(--dark);
}
.no-task-row {
    color: var(--white);
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.table {
    width: 100% !important;
    height: 100% !important;
    display: grid;
    grid-template-rows: 20% 80%;
}

thead > tr,
tbody > tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.assigning-tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.asssigning-table {
    width: 100% !important;
    height: 100% !important;
    display: grid;
    grid-template-rows: 20% 80%;
    border: 1px solid #acb1d6;
    border-radius: 0.3em;
}

thead {
    background: var(--white);
    border-top: 1px solid #acb1d6;
    border-left: 1px solid #acb1d6;
    border-right: 1px solid #acb1d6;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border: 1px solid gray;
}

.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ////////////////// */
.task-assigning {
    /* border: 1px solid; */
    display: grid;
    height: 35vh;
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}

.assigning-table-holder {
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}
.assigning-table-holder > div {
    background: var(--orange);
    width: 100%;
}
.assigning-table {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    overflow-y: scroll;
    /* position: relative; */
}

.assigning-table > thead {
    background: var(--light-dark);
    /* position: sticky; */
    top: 0;
}

.assigning-table > tbody {
    background: white;
    display: grid;
    grid-template-rows: repeat(5, 15%);
    padding-left: 0.3em;
    padding-right: 0.3em;
    gap: 0.3em;
}

.table-group-divider > tr > th,
.table-group-divider > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-group-divider > tr,
.assigning-table > thead > tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.table-group-divider > tr {
    background-color: #ffba86;
    margin-top: 1.5%;
    color: #4e31aa;
    border-radius: 0.2em;
    height: 1.5em;
}
.table-group-divider {
    height: 90%;
}
/* media query */
@media screen and (max-width: 960px) {
    header .bx-menu {
        display: block;
    }
    .left_header {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(100%);
        background-color: var(--light-dark) !important;
        z-index: 10 !important;
        padding: 1rem;
        opacity: 0;
        transition: all ease-in-out 1s;
    }

    .openMenu {
        transform: translateX(0);
        background-color: var(--light-dark) !important;
        z-index: 10 !important;
        opacity: 1;
        transition: all ease-in-out 1s;
    }
    .openMenu > nav {
        margin-top: 10vh;
    }
    .left_header nav {
        display: block;
    }
    .left_header nav a {
        margin-top: 1rem;
        /* font-size: 1.5rem; */
        font-weight: bold;
    }
    .main-container {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content !important;
        width: 100%;
        padding: 0.8rem !important;
        height: max-content;
    }
    .user-task-display {
        height: 1000px;
    }
    .dashboard {
        min-height: none;
        height: max-content;
    }
    .main-container > * {
        width: 100% !important;
    }
    .user-task-display > *,
    .task-holder {
        width: 100%;
    }
    header {
        position: sticky;
        top: 0;
    }
}
@media screen and (max-width: 500px) {
    .main-task-displays {
        display: flex;
        flex-direction: column;
    }
    .main-task-displays > * {
        height: 200px;
    }
}
