body,
section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #4e31aa, #ffba86);
    color: white;
}

section {
    display: grid;
    place-items: center;
}

.login-btn {
    padding: 0.3em;
    background: #acb1d6;
    color: #4e31aa;
    border-radius: 0.3em;
}

form {
    border: 1px solid #acb1d6;
    height: fit-content;
    padding: 1.4em;
    border-radius: 0.4em;
}

.form-container {
    width: 40%;
    height: max-content;
}

.input-holder {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

input {
    border-radius: 0.4em !important;
    color: black !important;
}
