.playGround-container {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 1%;
}
.task-to-comment {
    /* background-color: gray; */
    background: var(--white);
    color: var(--light-dark);
    height: 88vh;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
    margin-top: 0.5em;
}
.task-nav {
    width: 100%;
    background: var(--dark);
    color: var(--orange);
}
.article-tasks {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1.2em;
}
.article-tasks::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 1.3em;
}
.article-tasks::-webkit-scrollbar {
    width: 10px;
}
.article-task-item {
    width: 100%;
    height: 5em;
    color: var(--white);
    background: var(--light-dark);
    display: flex;
    margin-top: 0.5em;
    padding: 0.5em;
    position: relative;
    border-radius: 0.3em;
}
.task-h1 {
    font-weight: bold;
    font-size: 1.3em;
    text-transform: capitalize;
}
.task-p {
    font-size: 0.8em;
}
.task-p > span {
    color: var(--orange);
}
.task-date-p {
    position: absolute;
    color: var(--orange);
    right: 0.3em;
    bottom: 0;
    font-size: 0.7em;
    text-transform: capitalize;
}

/* ////////////////// */

.header {
    height: 3em;
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--orange);
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header > p {
    text-transform: capitalize;
    font-size: 1.2em;
}
.article-messages {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    left: 0;
    background-color: var(--light-dark);
}
.message-conversation-display::-webkit-scrollbar {
    width: 2px;
}
.message-conversation-display::-webkit-scrollbar-thumb {
    background-color: white;
}
.files-display {
    width: 100%;
    height: 100%;
    margin-top: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}
.files-display > a {
    background-color: #dfa375;
    color: white;
    margin-left: 0.3em;
    padding: 0.3em;
    border-radius: 0.3em;
}
.article_section_pdf,
.article_section_message {
    width: 100%;
}
.article_section_message {
    margin-top: 2rem;
    position: relative;
}
.message-conversation-display {
    width: 100%;
    height: calc(100vh - 10vh - 2rem - 3em - 5rem);
    /* min-height: 65%; */
    /* background-color: #4e31aa; */
    padding: 0.4em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.reply-box {
    width: 100% !important;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.reply-box > span > i {
    color: var(--orange);
    font-size: 2rem;
}
.reply-box > span {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.reply-box > span > small {
    font-size: 1rem;
    color: var(--white);
    margin-top: 0.5rem;
}
.text-input-holder {
    width: 100% !important;
    position: relative;
    display: flex;
}
.text-input-holder > * {
    height: 100%;
}
.text-input-holder > input {
    width: 96%;
    height: 100%;
    color: black;
    border: 0px;
    outline: none;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}
.text-input-holder > label {
    color: #4e31aa;
    background: white;
    /* background: #dfa375; */
}
.text-input-holder > label > i {
    font-size: 2em;
}
.reply-box {
    position: sticky;
    bottom: 0;
}
.message-box {
    width: 20rem;
    margin-top: 0.3em;
    font-size: 0.8em;
    padding: 0.3em;
    background: #593aa1;
    /* background: linear-gradient(20deg, #4e31aa, #ffba86); */
    border-radius: 0.3em;
    color: white;
    font-weight: bold;
}

.message-box > p {
    width: 100%;
    white-space: pre-wrap;
}
.message-box {
    align-self: flex-start;
    height: fit-content;
}
.message-box-owner {
    align-self: flex-end;
    height: fit-content;
    background: #ffba86;
    color: #4e31aa;
}
.like-diplay {
    display: flex;
    align-items: center;
    align-self: flex-end;
}
.like-diplay > i {
    font-size: 2em;
}
.header-conv {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
}
.task_description_section {
    /* position: absolute;
    top: 3em;
    right: 0; */
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.1);
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}
.task_description_section > span {
    color: var(--orange);
    font-size: 0.7em;
}
.task_description_section > p {
    overflow-y: scroll;
    width: 100%;
    text-wrap: wrap;
}
