.view-task-display {
    width: 100%;
    height: calc(100vh - 10vh);
}

/* left */
.tasks-container {
    height: 100%;
    width: 100%;
    border-radius: 0.3em;
    width: 100%;
    max-width: 1000px;
}
.task-holder-display {
    width: 100%;
    background: white;
    display: grid;
    grid-template-rows: 70px calc(90vh - 70px);
    /* background: #4E31AA; */
}
.tasks-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--orange);
    color: var(--white);
}
.left-task-display {
    height: 100%;
    display: grid;
    place-items: center;
}
.no-data {
    display: grid;
    place-items: center;
}
.tasks-header > select > option {
    background: var(--dark);
    color: var(--orange);
}
.tasks-header > select {
    border: 0px;
    outline: none;
}
.tasks-body {
    height: 700px;
    padding: 0.2em;
    overflow-y: scroll;
    background: var(--light-dark);
}
.tasks-body::-webkit-scrollbar {
    display: none;
}
.task-item-display {
    height: 4em;
    color: var(--light-dark);
    background: var(--white);
    border-radius: 0.3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-top: 0.3rem;
    transition: all ease-in-out 1s;
}
.task-item-display:hover {
    background: var(--orange);
    transition: all ease-in-out 1s;
}
/* right */

.left-assigning {
    width: 90%;
    height: 90%;
}
.left-task-continer {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.task-assigning-body,
.notask-assign {
    background: var(--light-dark);
    color: var(--white);
    overflow-y: scroll;
    height: 100%;
}
.left-assigning {
    display: grid;
    grid-template-rows: 10% 600px;
}
.header-assigning {
    background: white;
    color: #452c97;
}
.task-assigning-body {
    height: 100%;
    overflow-y: scroll;
    padding: 0.2em;
    background: white;
}
.task-assigning-body::-webkit-scrollbar {
    display: none;
}
.task-assigning-items {
    height: 6em;
    width: 100%;
    background: var(--dark);
    color: var(--orange);
    border: 1px solid white;
    border-radius: 0.3em;
}
.display-task {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    overflow-y: scroll;
}
.see-tasks {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-rows: 10% 90%;
    /* background: linear-gradient(45deg, #4e31aa, #ffba86); */
    background: var(--light-dark);
    color: white;
    border-radius: 0.4em;
}
.header-with-cancel {
    height: 100%;
    font-size: 1.2em;
    background-color: var(--white);
    color: var(--dark);
    position: relative;
}
.header-with-cancel > p {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
}
.header-with-cancel > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--orange);
    width: 500px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
.see-task-main {
    /* display: grid; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    /* grid-template-rows: repeat(2, 1fr); */
}
.task-read {
    padding: 1em;
    color: #acb1d6;
    height: 100%;
    border-radius: 0.3em;
    overflow: scroll;
}
.task-read > p {
    font-size: 0.9rem;
    color: var(--orange);
}
.task-read > h2 {
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
    color: var(--white);
    padding: 0.5rem;
    font-size: 1.3rem;
}
.task-read > h2::-webkit-scrollbar {
    display: none;
}
.task-reply {
    /* padding: 1em; */
    height: calc(100% - 300px - 0.9rem);
    /* display: flex;
    flex-direction: column; */
    gap: 0.3em;
    margin-top: 1em;
}
.reply-textarea {
    border-radius: 0.3em;
    height: 70%;
    width: 100%;
    resize: none;
    color: var(--dark);
}
.task-reply > input {
    width: 100%;
    background: var(--dark);
    color: var(--orange);
}
.task-reply > button {
    background: var(--orange);
    margin-top: 3%;
    padding: 0.5em;
    border-radius: 0.4em;
    color: var(--dark);
    width: 100%;
}
.files-display {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
object {
    /* height: 200px !important; */
    height: 70%;
    width: 100%;
    overflow-y: hidden !important;
}
.file-preview-btn {
    padding: 0.4em;
    background: #ffba86;
    color: var(--dark);
    text-align: center;
    border-radius: 0.4em;
}
@media screen and (max-width: 900px) {
    .add_form_task {
        background: var(--light-dark);
        width: 100% !important;
        padding: 2rem;
    }
}
