.view-task-display {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.left-task-display,
.right-task-display {
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: #acb1d6;
}
/* left */
.tasks-container {
    height: 90%;
    width: 90%;
    border-radius: 0.3em;
}
.task-holder-display {
    width: 100%;
    background: white;
    display: grid;
    grid-template-rows: 10% 90%;
    /* background: #4E31AA; */
}
.tasks-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--orange);
    color: var(--white);
}
.tasks-header > select > option {
    background: var(--dark);
    color: var(--orange);
}
.tasks-header > select {
    border: 0px;
    outline: none;
}
.tasks-body {
    height: 700px;
    display: grid;
    align-items: start;
    padding: 0.2em;
    overflow-y: scroll;
    background: var(--light-dark);
}
.tasks-body::-webkit-scrollbar {
    display: none;
}
.task-item-display {
    height: 4em;
    color: var(--light-dark);
    background: var(--white);
    border-radius: 0.3em;
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    /* color: #4E31AA; */
    border: 1px solid #acb1d6;
}
.task-item-display:hover {
    background: var(--orange);
}
/* right */

.left-assigning {
    width: 90%;
    height: 90%;
}
.left-task-continer {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.task-assigning-body,
.notask-assign {
    background: var(--light-dark);
    color: var(--white);
    overflow-y: scroll;
    height: 100%;
}
.left-assigning {
    display: grid;
    grid-template-rows: 10% 600px;
}
.header-assigning {
    background: white;
    color: #452c97;
}
.task-assigning-body {
    height: 100%;
    overflow-y: scroll;
    padding: 0.2em;
    background: white;
}
.task-assigning-body::-webkit-scrollbar {
    display: none;
}
.task-assigning-items {
    height: 6em;
    width: 100%;
    background: var(--dark);
    color: var(--orange);
    border: 1px solid white;
    border-radius: 0.3em;
}
.display-task {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    overflow-y: scroll;
}
.see-tasks {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-rows: 10% 90%;
    background: linear-gradient(45deg, #4e31aa, #ffba86);
    color: white;
    border-radius: 0.4em;
}
.header-with-cancel {
    height: 100%;
    font-size: 1.2em;
    background-color: #acb1d6;
    color: #452c97;
}
.see-task-main {
    /* display: grid; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    /* grid-template-rows: repeat(2, 1fr); */
}
.task-read {
    padding: 1em;
    color: #acb1d6;
    height: 100%;
    border-radius: 0.3em;
}
.task-read > h3 {
    color: #ffba86;
}
.task-read > h2 {
    height: 50%;
    border: 1px solid #acb1d6;
    overflow-y: scroll;
}
.task-read > h2::-webkit-scrollbar {
    display: none;
}
.task-reply {
    /* padding: 1em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-top: 0.3em;
}
.reply-textarea {
    border-radius: 0.3em;
    height: 50%;
    resize: none;
    color: black;
}
.task-reply > button {
    background: #acb1d6;
    margin-top: 3%;
    padding: 0.5em;
    border-radius: 0.4em;
    color: #452c97;
}
.files-display {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
object {
    height: 200px !important;
    width: 100%;
    overflow-y: hidden !important;
}
.file-preview-btn {
    margin-top: 2em;
    padding: 0.4em;
    background: #ffba86;
    color: #4e31aa;
    text-align: center;
    border-radius: 0.4em;
}
